<div class="contact_info_welcome">Oto twoje dane kontaktowe </div>
<div class="contact_info_msg">Będą się automatycznie wyświetlać w każdym stworzonym przez Ciebie CV </div>

<div>
<div class="contact_info_box">
<% if current_user.contact_info.present? %>
    <div class="form">
      <%= render partial: "contact_infos/show_contact_infos", locals: { local_user: current_user }  %>
    </div>
    <%= link_to "Edytuj swoje dane", edit_contact_infos_path(@user), class: "contact_info_edit_button"%>
<% else %>
  <%= render partial: "contact_infos/add_contact_info", locals: { local_user: current_user } %>
</div>
  <% end %>
</div>

