<h1>Dodaj elementy do swojego CV</h1>
<% %>
<%= render partial: "experiences/add_exp", article: @article %>
<%= render partial: "contact_infos/add_contact_info", locals: { local_user: current_user }  %>