<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag "index_page", "data-turbo-track": "reload" %>
</head>
<body>
<%# if current_user.admin %>
<!--  <div class="testDiv">-->
<!--<p> Jesteś adminem szefie!</p>-->
  <%#= link_to "Lista użytkowników ", users_path %>
<!--  </div>-->
<%#  end %>
<div class="welcome_msg">
  Witaj w Curriculum Virtuale!
</div>

<div class="cv_list">
Oto twoje CV:

  <dl>
    <%@current_user_articles = @articles.where(user_id: current_user.id) %>
    <% @current_user_articles.each do |article| %>
      <dt>
      <div class="cv_listed">
        <%= link_to article.title, article %>
      </div>
      </dt>
<!--      <dd>-->
<!--      </dd>-->
    <% end %>
  </dl>
  <%#@current_user_articles = @articles.where(user_id: current_user.id) %>
  <%# @current_user_articles.each do |article| %>
<!--    <div class="cv_listed">-->
      <%#= link_to article.title, article %>
<!--    </div>-->
  <%# end %>
</div>
<!--<div class="contact_info">-->
  <%#= render partial: "contact_infos/show_contact_infos", locals: { local_user: current_user } %>
<!--</div>-->

</body>