<h1>Witaj w swoim CurriculumVirtuale!</h1><br>
<% if current_user.admin %>
<p> Jesteś adminem szefie!</p>
  <%= link_to "Lista użytkowników: ", users_path %>
<%  end %>
<h2>Twoje CV:</h2><br>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "Utwórz nowe CV", new_article_path %>