<% if current_user.admin %>
  <p> Witaj Pan admin!
  Oto użytkownicy twojego portalu!</p>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.email %>
        <%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
      </li>
    <% end %>
    <br>
  </ul>
  <% else %>
  <% redirect_to root_path %>
<%  end %>

