<% @article.skills.each do |skill| %>
  <% if skill.skill != nil %>
    <div class="stuff_box">
      <strong><%= skill.skill %></strong><br>
      <%= link_to "Usuń umiejętność", [skill.article, skill], class: "delete_stuff_button", data: {
        turbo_method: :delete,
        turbo_confirm: "Na pewno chcesz usunąć tą umiejętność?"
      } %> <br>
    </div>
  <% end %>
<% end %>