<h2>Dodaj zainteresowania:</h2>
<%= form_with model: [ @article, @article.interests.build ] do |form| %>
  <p>
    <%= form.label "Zainteresowanie" %><br>
    <%= form.text_field :interest %><br>
  </p>
  <p>
    <%= form.submit("Dodaj zainteresowanie", class: "submit_button") %>
  </p>
<% end %>