<head>
  <%= stylesheet_link_tag "index_page", "data-turbo-track": "reload" %>
</head>
<div class="footer">
<%= link_to 'Poprzednia strona', :back %> |
<%= link_to "Powrót do strony głównej", root_path %>
</div>